<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/base :: layout(titulo='Dashboard', contenido=~{::#contenido-principal})}">

<head>
    <!-- El título se pasa como parámetro, así que esto es opcional -->
</head>

<body>
    <div id="contenido-principal">
        <!-- Encabezado de Contenido -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>¡Bienvenido a OdontoApp!</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contenido Principal -->
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Página Principal</h3>
                    </div>
                    <div class="card-body">
                        Has iniciado sesión correctamente. ¡Ahora podemos empezar a construir los módulos!
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>